@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700");

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*::-moz-selection {
  background: rgba(224, 177, 81, 0.6) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

*::selection {
  background: rgba(224, 177, 81, 0.6) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

html {
  font-size: 10px;
}

body {
  color: #0f0f0f;
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: Gilroy;
  position: relative;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 58px;
  z-index: 1;
}

.title span {
  color: #e0b151;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Gilroy;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  -webkit-text-stroke: 0.3px #deaf4e;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #976d19;
  -webkit-box-shadow: 0 5px 0 0 #b08225, 0 5px 23px rgba(254, 207, 111, 0.43);
          box-shadow: 0 5px 0 0 #b08225, 0 5px 23px rgba(254, 207, 111, 0.43);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0b151), to(#c79835));
  background-image: -o-linear-gradient(top, #e0b151 0%, #c79835 100%);
  background-image: linear-gradient(to bottom, #e0b151 0%, #c79835 100%);
  padding: 2em 5em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 12;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.plus {
  position: absolute;
  width: 46px;
  height: 46px;
  border: solid 4px #0f1010;
  border-radius: 50%;
  background-color: #f4d593;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.plus span {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px !important;
}

.plus span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 4px;
  background: #0f1010;
}

.plus span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4px;
  height: 23px;
  background: #0f1010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.plus.active span:before {
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  width: 2px;
  height: 13px;
}

.header {
  position: relative;
}

.header__container {
  color: #fff;
  padding: 32px 0px 0px 0px;
  position: relative;
}

.header__logo {
  text-align: center;
}

.header__dop {
  display: inline-block;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  color: #0f0f0f;
  line-height: 1.3;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-transform: skew(-15deg);
      -ms-transform: skew(-15deg);
          transform: skew(-15deg);
  position: absolute;
  bottom: -50px;
  right: -30px;
}

.header__dop span {
  display: block;
  font-size: 1.8rem;
  color: #e6ae3c;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: -1;
}

.bot-header__time {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  border: 3px dotted #ffffff;
  margin: 0px 0px 40px 0px;
}

.bot-header__time img {
  margin: 0px 20px 0px 0px;
}

.bot-header__title {
  max-width: 600px;
  color: #ffffff;
  margin: 0px 0px 35px 0px;
}

.footer {
  background-color: #0f0f0f;
}

.footer__container {
  padding: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__text {
  opacity: 0.5;
  color: #fff;
  font-size: 1.8rem;
  line-height: 33.52px;
}

.footer__btn-up a {
  padding: 2em 4em;
}

.footer__btn-bue a {
  padding: 2em 4em;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.for__container {
  padding: 150px 0px 0px 0px;
}

.for__title {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.for__inner {
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inner-for__item {
  position: relative;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding: 22px 40px;
  border: 1px solid #0f0f0f;
  margin: 0px 0px 60px 0px;
  max-width: 430px;
}

.inner-for__text {
  font-size: 2rem;
  line-height: 1.2;
}

.inner-for__text span {
  display: block;
  font-weight: 2.5rem;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.inner-for__text + .inner-for__text {
  margin: 20px 0px 0px 0px;
}

.inner-for__img {
  position: absolute;
  top: -80px;
  right: -80px;
}

.inner-for__num {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 2.7rem;
  font-weight: 700;
}

.program__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.program__img {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.program__inner {
  max-width: 1050px;
  margin: 0px auto;
}

.inner-program__item {
  position: relative;
  margin: 0px 0px 50px 0px;
  padding: 45px 0 45px 50px;
  background-color: #0f0f0f;
  color: #fff;
}

.inner-program__item::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
  width: 35px;
  height: 109px;
  background-color: #0f0f0f;
}

.inner-program__item:last-child:before {
  display: none;
}

.inner-program__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 36px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0px 0px 10px 0px;
}

.inner-program__title span {
  display: block;
  font-size: 3rem;
  color: #e0b151;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.inner-program__text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 36px;
  margin: 0px 0px 20px 0px;
}

.inner-program__text span {
  display: block;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.inner-program__dop {
  font-size: 2.4rem;
}

.inner-program__dop span {
  display: block;
  color: #e0b151;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.inner-program__num {
  font-size: 46.5rem;
  opacity: 0.05;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  bottom: -120px;
  right: 0;
}

.tarif__container {
  padding-bottom: 220px;
}

.tarif__title {
  text-align: center;
  margin: 0px 0px 63px 0px;
}

.tarif__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inner-tarif__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-tarif__img {
  padding: 0px 100px 0px 0px;
}

.inner-tarif__wrap {
  padding: 30px 40px;
  background-color: #0f0f0f;
  display: inline-block;
  min-width: 250px;
}

.inner-tarif__title {
  text-align: center;
  font-size: 3.6rem;
  color: #fff;
}

.inner-tarif__title.vip {
  color: #e4ac37;
}

.inner-tarif__price {
  padding: 50px 0px 0px 0px;
  font-size: 4.8rem;
  font-weight: 700;
  position: relative;
  margin: 0px 0px 24px 0px;
}

.inner-tarif__price span {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 3rem;
  text-align: center;
  width: 150%;
  opacity: 0.6;
}

.inner-tarif__price:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(-5deg);
      -ms-transform: translate(-50%, 0) rotate(-5deg);
          transform: translate(-50%, 0) rotate(-5deg);
  width: 0px;
  height: 3px;
  background-color: #e0b151;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.inner-tarif__price.active:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(-5deg);
      -ms-transform: translate(-50%, 0) rotate(-5deg);
          transform: translate(-50%, 0) rotate(-5deg);
  width: 150px;
  height: 3px;
  background-color: #e0b151;
  z-index: 10;
}

.qustions {
  position: relative;
  background-color: #0f0f0f;
}

.qustions__container {
  position: relative;
  padding: 10px 0px 100px 0px;
  border-bottom: 2px solid #fff;
}

.qustions__title {
  font-size: 4.6rem;
  text-align: center;
  color: #fff;
  margin: 0px auto 32px;
}

.qustions__inner {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: 0px auto 130px;
}

.qustions__item {
  margin: 0px 0px 40px 0px;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 31px 0px;
  position: relative;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.qustions__item-dop {
  margin: 0px 0px 0px 0px;
  padding: 15px 50px 0px;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.8rem;
  opacity: 0;
  visibility: hidden;
  height: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qustions__item-dop.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  margin: 15px 0px 0px 0px;
}

.qustions__item-plus {
  position: absolute;
  left: 50%;
  bottom: -17px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 30px;
  height: 30px;
  background-color: #0f0f0f;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.qustions__item-plus span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 15px;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qustions__item-plus span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 1px;
  background: #fff;
}

.qustions__item-plus.active span::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.qustions__dop {
  position: absolute;
  z-index: 0;
}

.qustions__dop-left {
  top: 970px;
  left: -50px;
}

.qustions__dop-right {
  top: -10px;
  right: 0px;
}

.qustions__bg {
  position: absolute;
  top: -152px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 1920px;
}

.send-qustions__title {
  text-align: center;
  color: #fff;
}

.send-qustions__text {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  margin: 0px 0px 40px 0px;
}

.send-qustions__btn {
  text-align: center;
}

.send-qustions__btn a {
  padding: 2em 3em;
}

@media (min-width: 992px) {
  .btn:hover {
    -webkit-text-stroke: 0.3px #deaf4e;
    -webkit-box-shadow: 0 3px 0 0 #b08225, 0 5px 43px rgba(254, 207, 111, 0.43);
            box-shadow: 0 3px 0 0 #b08225, 0 5px 43px rgba(254, 207, 111, 0.43);
    -webkit-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 3.2rem;
    line-height: 38px;
  }

  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .header__logo img {
    max-width: 80px;
  }

  .header__dop {
    bottom: 130px;
  }

  .header__bg {
    top: 0;
    left: -24%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .bot-header__time {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0px 0px 0px 0px;
  }

  .bot-header__title {
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;
    -webkit-text-stroke: 0.3px #52534f;
  }

  .bot-header__btn {
    margin: 400px 0px 0px 0px;
    text-align: center;
  }

  .footer__text {
    margin: 0px 0px 30px 0px;
  }

  .footer__btn {
    margin: 0px 0px 30px 0px;
  }

  .footer__btn-up {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .for__inner {
    padding: 0px 20px;
  }

  .inner-for__item-1 .inner-for__img {
    left: 50%;
  }

  .inner-for__item {
    padding: 72px 40px 22px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .inner-for__img {
    right: auto;
    left: 46%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .program__inner {
    padding: 0px 20px;
  }

  .inner-program__item {
    padding: 45px 10px 45px 10px;
  }

  .inner-program__title {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .inner-program__title span {
    font-size: 2.2rem;
    line-height: 1.2;
    text-align: center;
  }

  .inner-program__text {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .inner-program__text span {
    text-align: center;
    font-size: 2rem;
  }

  .inner-program__dop {
    font-size: 1.6rem;
  }

  .inner-program__dop span {
    font-size: 2.2rem;
    line-height: 1.2;
    max-width: 200px;
    margin: 0px auto 5px;
    text-align: center;
  }

  .inner-program__num {
    font-size: 26.5rem;
    bottom: -40px;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .tarif__container {
    padding-bottom: 120px;
  }

  .tarif__title {
    font-size: 4rem;
  }

  .tarif__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .inner-tarif__item {
    margin: 0px 0px 100px 0px;
  }

  .qustions__container {
    padding: 0px 0px 70px 0px;
    margin: 0px 20px;
  }

  .qustions__title {
    font-size: 3rem;
    line-height: 1.3;
  }

  .qustions__item-dop {
    padding: 15px 0px 0px;
  }

  .qustions__item {
    position: relative;
    font-size: 2rem;
    padding: 30px 20px;
    z-index: 20;
  }

  .qustions__dop-left {
    top: 920px;
    left: -10px;
  }

  .qustions__dop-left img {
    max-width: 50px;
  }

  .qustions__dop-right {
    top: 40px;
    right: 0px;
  }

  .qustions__dop-right img {
    max-width: 50px;
  }

  .send-qustions__title {
    margin: 0px 0px 10px 0px;
  }

  .send-qustions__text {
    font-size: 2rem;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
